*~
*.synctex.gz
*.checkstyle
local.properties
*.tex~
*.dvi
*.glo
*.gls
*.glg
*.ist
*.lyx
*.log
*.backup
*.aux
*.out
*.toc
*.kilepr
*.nav
*.snm
*.class
*.cfg
*.bin
lint.xml
sudoq-model/bin
test-model/bin
sudoq-app/bin
sudoq-app/gen
sudoq-app/assets
sudoq-app/libs/model.jar
sudoq-app/sudoqapp/build/intermediates/
test-app/bin
test-app/gen
test-app/coverage/
tmp
.metadata/
