<?xml version="1.0" encoding="utf-8"?>
<!-- SudoQ is a Sudoku-App for Adroid Devices with Version 2.2 at least. -->
<!-- Copyright (C) 2012  Haiko Klare, Julian Geppert, Jan-Bernhard Kordaß, Jonathan Kieling, Tim Zeitz, Timo Abele -->
<!-- This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.  -->
<!-- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.sudoq"
    android:versionCode="13"
    android:versionName="1.0.8"
    android:installLocation="auto" >

    <uses-sdk android:minSdkVersion="8" />
	    
    <application
        android:icon="@drawable/launcher"
        android:label="@string/app_name" android:allowClearUserData="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".controller.menus.SplashActivity" android:noHistory="true" 
                                                                  android:configChanges="orientation"
                                                                  android:windowActionBar="false" 
                                                                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".controller.SudoqActivitySherlock" ></activity>
        <activity android:name=".controller.menus.MainActivity"></activity>
        <activity android:name=".controller.menus.GestureBuilder" android:label="@string/gesture_builder_title"></activity>
        <activity android:name=".controller.sudoku.SudokuActivity"></activity>
        <activity android:name=".controller.menus.SudokuLoadingActivity"     android:noHistory="true" 
                                                                             android:configChanges="orientation"></activity>
        <activity android:name="de.sudoq.controller.menus.NewSudokuConfigurationActivity" android:label="@string/sf_sudokupreferences_title"></activity>
        <activity android:name="de.sudoq.controller.menus.preferences.AdvancedPreferencesActivity"  android:label="@string/sf_advancedpreferences_title"></activity>
        <activity android:name="de.sudoq.controller.menus.preferences.RestrictTypesActivity"        android:label="@string/sf_advancedpreferences_restricttypes_title"></activity>
        <activity android:name="de.sudoq.controller.menus.preferences.NewSudokuPreferencesActivity" android:label="@string/sf_sudokupreferences_title"></activity>
        <activity android:name="de.sudoq.controller.menus.preferences.PlayerPreferencesActivity"    android:label="@string/profile_preference_title"
                                                                             android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".controller.menus.StatisticsActivity"  android:label="@string/statistics_title"></activity>
        <activity android:name=".controller.menus.ProfileListActivity" android:theme="@android:style/Theme.Dialog" ></activity>
        <activity android:name=".controller.tutorial.TutorialActivity"></activity>
        <activity android:name=".controller.tutorial.TutorialSudokuActivity"></activity>
        <activity android:name=".controller.tutorial.TutorialAssistancesActivity"></activity>
        <activity android:name=".controller.tutorial.TutorialActionTreeActivity"></activity>
    </application>

</manifest>